<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT</h2>
                <hr class="light">
                <p class="text-faded">I am a filmmaker/animator/visual artist with a penchant for the ridiculous. With a passion for animation and film since a young age, I have grown to explore all types of motion-based media in pursuit of my bizarre ideas. Sometimes, I try to scare. Other times, confuse. Usually, I just try to make you laugh.</p>
                <p class="text-faded">I am currently developing projects for various internet-based aliases, all while pursuing a B.F.A in Film and Television at the Tisch School of the Arts, New York University.</p>
                <p class="text-faded">Feel free to peruse, friend.</p>
                
            </div>
        </div>
    </div>
</section>
