<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div style = "position: relative; bottom: 100px">
                <h1>Alexander Vrahas</h1>
                <p>Filmmaker | Animator | Visual Artist</p>
            </div>
            <iframe style = "position: absolute; right: 150px; top: 50px;"  width="560" height="315" src="https://www.youtube.com/embed/t53k5_G21F8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe style = "position: absolute; left: 150px; top: 50px;" width="560" height="315" src="https://www.youtube.com/embed/vC8htgungYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</header>
