<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=qqzb2l6eafY" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Horror/Comedy
                            </div>
                            <div class="project-name">
                                The Stranger from the Other Side
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=IIAlwEFUiaw&t=7s" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Documentary
                            </div>
                            <div class="project-name">
                                Good Trip
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=gRJbdFkNRWw" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Archival Documentary
                            </div>
                            <div class="project-name">
                                FOOD
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=Lj1BWozcxZ4" class="portfolio-box">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Expirimental/Horror
                            </div>
                            <div class="project-name">
                                A pLan, a PaNAma CanAl mAN
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=msOMm_BdOYs" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Satire/Absurdist
                            </div>
                            <div class="project-name">
                                Breaking News
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <a href="https://www.youtube.com/watch?v=oraiX8A0kh4&t=18s" class="portfolio-box">
                    <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Slapstick/Silent
                            </div>
                            <div class="project-name">
                                 The Milk Man
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=5oeGiteavIM" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2D Animation
                            </div>
                            <div class="project-name">
                                LifeInTrouble
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=3hBr4aPBfnc&t=22s" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Parody
                            </div>
                            <div class="project-name">
                                The Scarlet Letter: Director's Cut
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=Pohr-Il5GeY&t=3s" class="portfolio-box">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2D Animation
                            </div>
                            <div class="project-name">
                                The Movie Pit
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
